{% for category in categories %}
    <a href="{{ category.href }}"
       class="menu-default {{ category.isActive }}"><span
                class="subline">{{ category.name }}</span></a>
{% endfor %}