<div id="search" class="col-sm-12 field input-group stylish-input-group input-append">
    <input class="field-input" id="autoCompInput" placeholder="{{ text_search }}" name="search" value="{{ search }}">
    <span class="input-group-addon" style="border: none">
        <button id="sub" type="button">
            <img class="terms" src="catalog/view/theme/default/image/loupe.png" style="position: absolute;cursor: pointer;right: 8px;top: 5px;">
        </button>
    </span>
</div>
<script>
    $("#autoCompInput").bind("keypress", {}, keypressInBox);

    function keypressInBox(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code === 13) { //Enter keycode
            e.preventDefault();
            $("#sub").click();
        }
    }
</script>